*{
    box-sizing: border-box;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: League Spartan;
    font-weight: 500;
    /* border: 1px solid black; */
}
body{
    background: url(images/bg-pattern-top-desktop.svg) top left, url(./images/bg-pattern-bottom-desktop.svg) bottom right;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: white;
    line-height: 24px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    margin: auto;
}
.social-row{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin: auto auto;
    width: 100%;
    flex-wrap: wrap;
}
.social-row-desc{
    width: 35%;
    color: hsl(303, 10%, 53%);
}
h1{
    width: 80%;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
    color: hsl(300, 43%, 22%);
}
.social-row-desc p {
    font-size: 16px;
    font-weight: 500;
}
.rating-item{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 4px 16px;
    background-color:hsl(300, 24%, 96%) ;
    border-radius: 0.2rem;
    color:hsl(300, 43%, 22%)
}
.rating-item:nth-child(2){
    margin-left: 20px;
}
.rating-item:nth-child(3){
    margin-left: 40px;
}
.rating-item p{
    font-weight: 700;
}
.stars{
    padding-top: 8px;
}

.card{
    width: 32%;
    min-width: 307px;
    padding: 2rem 2.7rem;
    background-color: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 0.5em;
}

.card:nth-child(2){ margin-top: 40px ;}
.card:nth-child(3){ margin-top: 80px ;}
.card div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 24px;
    line-height: 1.2em;
}
.card div p {
    font-weight: 700;
}
.card img {
    border-radius: 50%;
    width: 15%;
    
}
span{
    display: block;
    color: hsl(333, 80%, 67%);
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: hsl(300, 24%, 96%);
}
@media screen and (max-width: 375px){
    .wrapper{
        width: 85%;
    }
    .social-row{
        align-items: center;
        justify-content: center; 
        flex-wrap: wrap;
    }
    .social-row-desc{
        text-align: center;
        width: 100%;
        margin: auto;
    }
    h1{
        width: 100%;
    }
    .rating{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .rating-item{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .rating-item:nth-child(2), .rating-item:nth-child(3){
        margin: 1rem 0;
    }
    .card:nth-child(2),.card:nth-child(3){
        margin-top: 20px ;
    }
    .social-row{
        align-self: center;
    }
}